<h1>"New Player"</h1>

<%= form_for @player, :url => { :controller => 'players', :action => 'create' } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>

    <%= f.submit "Create"  ,:class => "btn btn-primary"%>
<% end %>